.formpage-container{
    background-color:#134601;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

h2.formpage-container--main-title{
    font-size: 6rem;
    background: -webkit-linear-gradient(#2EC867, #E8E9A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:50%;font-weight:bold;
}

.formpage-container--input-div{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    width:50%;
}
.formpage-container--input-div--input{
    display:block;
    background-color:white;
    height:50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.formpage-container--input-div--input{
    border:none;
    padding:5px;
    width:90%;
}

.formpage-container--input-div--input::placeholder{
    color:#134601;font-weight: bold;
    font-size:15px;
}